@model _2FaGoogleAuthenticator.ViewModel.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (ViewBag.Status == null || ! ViewBag.Status)
{
    <!-- Show login form here -->
    <div>@ViewBag.Message</div>

    <div>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="Username">Username: </label>
                @Html.TextBoxFor(a => a.UserName, new { @class = "form-control"})
            </div>

            <div class="form-group">
                <label for="Password">Password: </label>
                @Html.TextBoxFor(a => a.Password, new { @class = "form-control", type="password" })
            </div>

            <input type="submit" value="Login" class="btn btn-default" />
        }
    </div>

   
}
else
{
    <!-- 2Fa Verification -->
    <div>@ViewBag.Message</div>
    
    <div>
    <img src="@ViewBag.BarcodeImageUrl" style="width: 150px; height: 150px;" />
    </div>

    <div>
       Manual Setup Code : @ViewBag.SetupCode
    </div>

    <div>
        @using (Html.BeginForm("Verify2Fa", "Home", FormMethod.Post))
        {
            <input type="text" name="token" />
            <input type="submit" value="Verify" class="btn btn-info" />

        }
    </div>
}

